# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Build artifacts
/tplot
tplot.1
/config/
/autom4te.cache/
Makefile
Makefile.in
.deps/
.libs/
*.log
*.trs
test-driver
stamp-h1
config.h
config.h.in
config.status
configure
aclocal.m4
compile
depcomp
install-sh
missing

# Static analysis results
scan-build-results/
cppcheck-results.xml
splint-results.txt
